.container {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 42%);
  animation:
    blink 3s cubic-bezier(0.5, 0, 0.5, 1) infinite,
    slide-up 0.3s 0.2s both;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 1;
  color: var(--text-color);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  &:hover {
    .sub_text {
      background-color: hsla(0, 0%, 0%, 62%);
    }
  }
}
.sub_text {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  padding: 4px 8px;
  font-size: 1.25rem;
  transition: background-color 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.snackbar {
  display: none;
  position: absolute;
  width: max-content;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  color: hsl(114, 82%, 62%);
  background-color: hsla(0, 0%, 0%, 42%);
  padding: 8px 6px;
  border-radius: 6px;
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 0%, 52%);
  }
  50% {
    background-color: hsla(0, 0%, 0%, 42%);
  }
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50% -50%);
    opacity: 1;
  }
}
