---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
  <main>
    <h1>동시오목</h1>
    <ul>
      <!-- <li>
        <a href="pvp">방만들기</a>
      </li> -->
      <li>
        <a href="random">랜덤매칭</a>
      </li>
      <li>
        <a href="pve">인공지능</a>
      </li>
      <li>
        <a href="/">규칙설명</a>
      </li>
    </ul>
  </main>
</Layout>
<style>
  h1 {
    color: var(--text-color);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    align-items: center;
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    background: hsl(0, 30%, 20%);
    padding: 4px 8px;
    border-radius: 8px;
    &:hover {
      opacity: 0.8;
    }
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  }
</style>
