---
import { BOARD_SIZE, ALPHABETS } from '@dongsi-omok/shared';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>동시오목</title>
  </head>
  <body
    style={{
      background: 'linear-gradient(180deg, hsl(0, 0%, 11%), hsl(345, 83%, 7%))',
      display: 'flex',
      justifyContent: 'center',
      alignItems: 'center',
      height: 'calc(100dvh - 16px)',
    }}
  >
    <game-notification></game-notification>
    <omok-board>
      {
        Array.from({ length: BOARD_SIZE }, (_, row) =>
          ALPHABETS.slice(0, BOARD_SIZE).map((col) => (
            <button
              data-row={row}
              data-col={col}
              aria-label={`row:${row + 1} col:${col}`}
            >
              {(row === 3 || row === 9 || row === 15) &&
              (col === 'D' || col === 'J' || col === 'P') ? (
                <span class="flower-point" />
              ) : null}
            </button>
          )),
        )
      }
      <div class="border-beam"></div>
    </omok-board>
  </body>
  <style define:vars={{ boardSize: BOARD_SIZE }}>
    @keyframes border-beam {
      100% {
        offset-distance: 100%;
      }
    }
    @font-face {
      font-family: 'IropkeBatang';
      src:
        url('/fonts/IropkeBatangM.woff') format('woff'),
        url('/fonts/IropkeBatangM.ttf') format('truetype');
      font-display: block;
    }
    body {
      font-family: 'IropkeBatang', sans-serif;
    }
    omok-board {
      width: 100%;
      max-width: 600px;
      aspect-ratio: 1;
      display: grid;
      grid-template-columns: repeat(var(--boardSize), 1fr);
      grid-template-rows: repeat(var(--boardSize), 1fr);
      background-color: burlywood;
      border-radius: 8px;
      position: relative;
    }
    .border-beam {
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border: 2px solid transparent;
      border-radius: inherit;

      mask-clip: padding-box, border-box !important;
      mask-composite: intersect !important;
      mask: linear-gradient(transparent, transparent),
        linear-gradient(white, white);
      &::after {
        content: '';
        width: 100%;
        aspect-ratio: 1;
        position: absolute;
        background: linear-gradient(
          to left,
          hsl(60, 100%, 50%),
          hsl(30, 100%, 50%),
          transparent
        );

        animation: border-beam 6s infinite linear;
        offset-anchor: 90% 50%;
        offset-path: rect(0 auto auto 0 round 600px);
      }
    }
    .flower-point {
      pointer-events: none;
      position: absolute;
      width: 12.5%;
      height: 12.5%;
      background-color: black;
      border-radius: 50%;
      left: 52%;
      top: 52%;
      transform: translate(-52%, -52%);
      padding: 0;
      margin: 0;
    }
    button {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      position: relative;
      &:not(:disabled) {
        cursor: pointer;
      }

      &.item {
        border-radius: 50%;
        &.white {
          background-color: white;
          .flower-point {
            z-index: -2;
          }
          &::before,
          &::after {
            z-index: -1;
          }
        }
        &.black {
          background-color: black;
        }
        &.prohibit {
          background-color: red;
          border-radius: 50%;
        }
        &.plan {
          background-color: blue;
          border-radius: 50%;
        }
      }

      &:hover:not(:disabled) {
        background-color: hsl(30, 50%, 80%);
      }

      &:active:not(:disabled) {
        background-color: hsl(30, 50%, 88%);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: black;
      }
      &::before {
        width: 1px;
        height: 100%;
        top: 0;
      }
      &::after {
        height: 1px;
        width: 100%;
        left: 0;
      }
      &[data-row='0'] {
        &::before {
          top: 50%;
          height: 50%;
        }
      }
      &[data-row='18'] {
        &::before {
          height: 50%;
        }
      }
      &[data-col='A'] {
        &::after {
          left: 50%;
          width: 50%;
        }
      }
      &[data-col='S'] {
        &::after {
          width: 50%;
        }
      }
      &:last-child::before {
        height: 54%;
      }
    }
  </style>
  <script src="../index.ts"></script>
</html>
