---
import { ViewTransitions } from 'astro:transitions';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>동시오목</title>
    <ViewTransitions />
  </head>
  <body>
    <ul>
      <li>
        <a href="/pve">AI</a>
      </li>
      <li>
        <a href="pvp">PVP</a>
      </li>
    </ul>
  </body>
</html>
