<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>동시오목</title>
  </head>
  <body><slot /></body>
  <style>
    :root {
      --text-color: hsl(0, 47%, 94%);
    }
    @font-face {
      font-family: 'IropkeBatang';
      src:
        url('/fonts/IropkeBatangM.woff') format('woff'),
        url('/fonts/IropkeBatangM.ttf') format('truetype');
      font-display: block;
    }
    body {
      font-family: 'IropkeBatang', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100dvh - 16px);
      background: linear-gradient(180deg, hsl(0, 0%, 11%), hsl(345, 83%, 7%));
    }
  </style>
</html>
