---
import { ViewTransitions } from 'astro:transitions';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>동시오목</title>
  </head>
  <body><slot /></body><style>
    @view-transition {
      navigation: auto;
    }
    :root {
      --board-color: hsl(34, 46%, 56%);
      --text-color: hsl(0, 47%, 94%);
    }
    @font-face {
      font-family: 'IropkeBatang';
      src:
        url('/fonts/IropkeBatangM.woff') format('woff'),
        url('/fonts/IropkeBatangM.ttf') format('truetype');
      font-display: swap;
    }
    body {
      font-family: 'IropkeBatang', Impact;
      height: 100dvh;
      overflow: hidden;
      margin: 0;
    }
  </style>
</html>
